.featured-work2 {
    background: url('/image/static-background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    margin-top: 40px;
}

.featured-slide2 {
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}

.active-slide2 {
    display: flex;
}

.work22 h4 {
    font-family: 'OverusedGroteskMedium', sans-serif;
    font-size: 28px;
    margin: 0;
}

.work22 p {
    font-family: 'OverusedGroteskMedium', sans-serif;
    font-size: 17px;
}

.work12 {
    width: 50%;
    text-align: center;
}

.work22 {
    width: 25%;
    text-align: left;
}

.work12 img {
    width: 48%;
    height: max-content;
}